<mat-toolbar class="app-header">
    <span class="nav-tool-items">
      <img src="assets/images/logo.png" alt="logo" class="logo">
      <a mat-button routerLink="validate" routerLinkActive="active">Validate</a>
      <a mat-button routerLink="login" *ngIf="showButton == false" routerLinkActive="active">Log In</a>
      <a mat-button routerLink="signup" *ngIf="showButton == false" routerLinkActive="active">Register</a>
    </span>
    <span class="right-items">
      <a mat-button (click)="onLogout()" *ngIf="showButton == true" id="log-out-btn" >Log Out</a>
    </span>
</mat-toolbar>
<router-outlet>
</router-outlet>